<%- if defined?(@project) and @project.scrum? -%>
  <% if @project.contracts.empty? || User.current.admin?  || ((User.current.allowed_to?(:manage_sprints, @project) && @issues.any? { |issue| !issue.demand? })) %>
    <% if @safe_attributes.include?("sprint_id") -%>
      <p>
        <label for="sprint_id"><%= @issues.any? { |issue| issue.sprint.is_product_backlog? } ? l(:label_backlog) : l(:label_sprint) %></label>
        <%- sprints = @project.all_open_sprints_and_product_backlogs
            options = content_tag("option", l(:label_no_change_option), :value => "") +
                      options_from_collection_for_select(sprints, :id, :name) -%>
        <%= select_tag "issue[sprint_id]", options %>
      </p>
    <%- end -%>
  <% end %>
  <%- if User.current.allowed_to?(:edit_pending_effort, @project) -%>
    <p>
      <label for="pending_effort"><%= l(:field_pending_effort) %></label>
      <%= text_field_tag "issue[pending_effort]", "", :size => 3 %>
    </p>
  <%- end -%>
<%- end -%>
